ol {
  font-weight:EM;
}

ol li span {
  font-weight: Strong;
}
.red {
  width: 200px;
  height: 200px;
  background-color: red;
}

div {
  width: 300px;
  height: 100px;
  background-color: blue;
}
.fit-picture {
  width: 250px;
}
